@page
@model IndexModel
@{
    ViewData["Title"] = "Domovská stránka";
}

<h2>Kampaně</h2>
<h3>graf přijde sem</h3>

<!--Tabulka s tlačítky-->

<table class="table-condensed">
    <tr>
        <th>
            <button type="button" class="btn btn-primary" id="newCampaign">Vytvořit kampaň</button>
        </th>
        <th>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                    Akce vybraných
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Aktivovat</a></li>
                    <li>Pozastavit</li>
                    <li>Vyřadit</li>
                    <li>Změnit nastavení</li>
                    <li>Kopírovat</li>
                </ul>
            </div>
        </th>
    </tr>
</table>

<!--Tabulka kampaní-->
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Stav</th>
                <th>Kampaň</th>
                <th>Rozpočet</th>
                <th>Prokliky</th>
                <th>Zobrazení</th>
                <th>Ø Pozice</th>
                <th>Strategie</th>
            </tr>
        </thead>
        <tbody>
            <!--TODO skript který sem vypíše informace o kampaních-->
        </tbody>

    </table>
</div>